
@import '~antd/dist/antd.dark.css';



.App{
    text-align:center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/personal-site-5d5d3.appspot.com/o/landscape-photo-of-mountain-with-polar-lights-1434608%20(1).jpg?alt=media&token=8cd26004-7410-4069-b260-45b562c2d92e');
    background-size: cover;
    background-attachment: fixed;
    color:#fff;
    height:100%;
    overflow: scroll;
}

.home-main{
    position: relative;
    top:20%;
}

.home-main h1{
    font-size:4em
}

.avatar{
    height:120px;
}

body,
html,
#root{
    height:100%;
    margin:0;
    padding:0;
}

footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
}
.footer-content{
    justify-content: center;
    line-height: 2em;
}

footer img{
    height:2em;
    margin-left:5px
}

.home-options{
    margin-top:150px;
    display:flex;
    justify-content: center;
}
.home-option{
    cursor: pointer;
}

.middle-option{
    margin: 0 100px;
}

.home-option p {
    margin:10px 0 ;
}

.form-container {
    position: relative;
    padding:40px;
    width:25%;
    margin:0 auto;
    background: #010916
}

.message-box{
    height:150px!important;
}

#react-icon{
    animation: rotation infinite 10s  linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

a:visited,
a:link{
    color:rgba(255, 255, 255, 0.85);
}

.form-success-container{
    position: relative;
    top:50%;
}

@font-face{
    font-family: 'Neoneon';
    src: local('Neoneon'), url(./fonts/Neoneon-3zaD6.otf) format('openType');
}
  
.landing-main path {
    stroke-dasharray: 8000;
    stroke-dashoffset: 8000;
    animation: 
    dash 2s 1s linear forwards,
    dashFinish1 1s 3s linear forwards,
    dashFinish2 1s 4s linear forwards,
    fadeOut 3s 5s;
  }


  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  } 

  @keyframes dashFinish1{
      from{
          stroke-dashoffset: 1000;
      }
      to{
          stroke-dashoffset: 250;
      }
  }

  @keyframes dashFinish2{
      from{
          stroke-dashoffset: 250;
      }
      to{
          stroke-dashoffset: 0;
      }
  }

  @keyframes fadeOut{
    to{
        opacity: 0;
    }
}


@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 100%
    }
}
  


.project-main{
    width:60vw;
    margin:0 auto;
}

.landing-main{
    width: 100vw;
    height:100vh;
}


.video-wrapper{
    position: relative;
    padding-bottom:49.373040752351095%;
    margin:2em;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .built-icons img{
      max-width:48px;
      margin:20px;
  }

  .uw-project-para{
    width:70%;
    margin:0 auto;
    font-size:1.5em;
  }

  .uw-project-title{
      padding-top:3em;
  }