
@import '~antd/dist/antd.dark.css';



.App{
    text-align:center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/personal-site-5d5d3.appspot.com/o/landscape-photo-of-mountain-with-polar-lights-1434608%20(1).jpg?alt=media&token=8cd26004-7410-4069-b260-45b562c2d92e');
    background-size: cover;
    color:#fff;
    height:100%;
}

.home-main{
    position: relative;
    top:20%;
}

.home-main h1{
    font-size:4em
}

.avatar{
    height:120px;
}

body,
html,
#root{
    height:100%;
    margin:0;
    padding:0;
}

footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
}
.footer-content{
    justify-content: center;
    line-height: 2em;
}

footer img{
    height:2em;
    margin-left:5px
}

.home-options{
    margin-top:150px;
    display:flex;
    justify-content: center;
}
.home-option{
    cursor: pointer;
}

.middle-option{
    margin: 0 100px;
}

.home-option p {
    margin:10px 0 ;
}

.form-container {
    position: relative;
    padding:40px;
    width:25%;
    margin:0 auto;
    background: #010916
}

.message-box{
    height:150px!important;
}

#react-icon{
    animation: rotation infinite 10s  linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

a:visited,
a:link{
    color:rgba(255, 255, 255, 0.85);
}

.form-success-container{
    position: relative;
    top:50%;
}

.landing-main{
    font-family: 'Neoneon';
    font-size:6em;
    height:100%;
    width:100%;
    text-align: center;
    display: table;
}

.landing-main h1{
    margin:0;
    padding:0;
    vertical-align: middle;
    display: table-cell;
}


@font-face{
    font-family: 'Neoneon';
    src: local('Neoneon'), url(./fonts/Neoneon-3zaD6.otf) format('openType');
}

.landing-main svg {
    position: absolute;
    top:50%;
    right:50%;
    width:100vw;
    transform: translate(50%, -50%);
  }
  
.landing-main path {
    stroke-dasharray: 8000;
    stroke-dashoffset: 8000;
    animation: 
    dash 2s 1s linear forwards,
    dashFinish1 1s 3s linear forwards,
    dashFinish2 1s 4s linear forwards,
    fadeOut 3s 5s;
    transform: scale(.20);
  }



#a2 {
    transform: translate(150px) scale(.20);
}

#r3{
    transform: translate(290px) scale(.20); 
}

#k4{
    transform: translate(415px) scale(.20);
}
  
#k5{
    transform: translate(600px) scale(.20);
}

#j6{
    transform: translate(715px) scale(.20);
}

#o7{
    transform: translate(820px) scale(.20);
}

#r8{
    transform: translate(980px) scale(.20);
}

#l9{
    transform: translate(1105px) scale(.20); 
}

#i10{
    transform: translate(1195px) scale(.20); 
}

#e11{
    transform: translate(1235px) scale(.20);
}

#n12{
    transform: translate(1330px) scale(.20);
}

  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  } 

  @keyframes dashFinish1{
      from{
          stroke-dashoffset: 1000;
      }
      to{
          stroke-dashoffset: 250;
      }
  }

  @keyframes dashFinish2{
      from{
          stroke-dashoffset: 250;
      }
      to{
          stroke-dashoffset: 0;
      }
  }

  @keyframes fadeOut{
    to{
        opacity: 0;
    }
}


@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 100%
    }
}
  