
@import '~antd/dist/antd.dark.css';

.App{
    text-align:center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/personal-site-5d5d3.appspot.com/o/landscape-photo-of-mountain-with-polar-lights-1434608%20(1).jpg?alt=media&token=8cd26004-7410-4069-b260-45b562c2d92e');
    background-size: cover;
    color:#fff;
    height:100%;
}

.home-main{
    position: relative;
    top:20%;
}

.avatar{
    height:120px;
}

body,
html,
#root{
    height:100%;
}

footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
}
.footer-content{
    justify-content: center;
    line-height: 2em;
}

footer img{
    height:2em;
    margin-left:5px
}

.home-options{
    margin-top:150px;
    display:flex;
    justify-content: center;
}
.home-option{
    cursor: pointer;
}

.middle-option{
    margin: 0 100px;
}

.home-option p {
    margin:10px 0 ;
}

.form-container {
    position: relative;
    padding:40px;
    width:25%;
    margin:0 auto;
    background: #010916
}

.message-box{
    height:150px!important;
}

#react-icon{
    animation: rotation infinite 10s  linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

a:visited,
a:link{
    color:rgba(255, 255, 255, 0.85);
}

.form-success-container{
    position: relative;
    top:50%;
}

